@font-face {
  font-family: openSansBold;
  src: url(./fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: openSansLight;
  src: url(./fonts/OpenSans-Light.ttf);
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #666;
  font-size: 12px;
  line-height: 20px;
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444;
}
/* default font size */
.fa {
  font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
  font-size: 33px;
}
h2 {
  font-size: 27px;
  text-transform: uppercase;
  font-weight: bold;
}
h3 {
  font-size: 21px;
}
h4 {
  font-size: 15px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10.2px;
}
a {
  color: #23a1d1;
}
a:hover {
  text-decoration: none;
}
legend {
  font-size: 18px;
  padding: 7px 0px;
}
label {
  font-size: 12px;
  font-weight: normal;
}
select.form-control,
textarea.form-control,
input[type="text"].form-control,
input[type="password"].form-control,
input[type="datetime"].form-control,
input[type="datetime-local"].form-control,
input[type="date"].form-control,
input[type="month"].form-control,
input[type="time"].form-control,
input[type="week"].form-control,
input[type="number"].form-control,
input[type="email"].form-control,
input[type="url"].form-control,
input[type="search"].form-control,
input[type="tel"].form-control,
input[type="color"].form-control {
  font-size: 12px;
}
.input-group input,
.input-group select,
.input-group .dropdown-menu,
.input-group .popover {
  font-size: 12px;
}

.input-group select {
  height: 4rem !important;
}

.input-group .input-group-addon {
  font-size: 12px;
  height: 30px;
  background-color: transparent;
}
/* Fix some bootstrap issues */
span.hidden-xs,
span.hidden-sm,
span.hidden-md,
span.hidden-lg {
  display: inline;
}

.nav-tabs {
  margin-bottom: 15px;
}
div.required .control-label:before {
  content: "* ";
  color: #f00;
  font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #229ac8;
  background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
  background-repeat: repeat-x;
}
/* top */
#top {
  background-color: #f0af13;
  padding: 4px 0px 3px 0;
  min-height: 40px;
}
#top .container {
  padding: 0 20px;
}
#top #form-currency .currency-select,
#top #form-language .language-select {
  text-align: left;
}
#top #form-currency .currency-select:hover,
#top #form-language .language-select:hover {
  text-shadow: none;
  color: #ffffff;
  background-color: #229ac8;
  background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
  background-repeat: repeat-x;
}
#top .btn-link,
#top-links li,
#top-links a {
  color: white;
  text-decoration: none;
}

#top .btn-link:hover,
#top-links a:hover {
  color: #444;
}
#top-links .dropdown-menu a {
  text-shadow: none;
}
#top-links .dropdown-menu a:hover {
  color: #fff;
}
#top .btn-link strong {
  font-size: 14px;
  line-height: 14px;
}
#top-links {
  padding-top: 6px;
}
#top-links a + a {
  margin-left: 15px;
}
/* logo */
#logo {
  margin: 0 0 10px 0;
}
/* search */
#search {
  margin-bottom: 10px;
}
#search .input-lg {
  height: 40px;
  line-height: 20px;
  padding: 0 10px;
}
#search .btn-lg {
  font-size: 15px;
  line-height: 18px;
  padding: 10px 35px;
  text-shadow: 0 1px 0 #fff;
}
/* cart */
#cart {
  margin-bottom: 10px;
}
#cart > .btn {
  font-size: 12px;
  line-height: 18px;
  color: #fff;
}
#cart.open > .btn {
  background-image: none;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  color: #666;
  box-shadow: none;
  text-shadow: none;
}
#cart.open > .btn:hover {
  color: #444;
}
#cart .dropdown-menu {
  background: #eee;
  z-index: 1001;
}
#cart .dropdown-menu {
  min-width: 100%;
}
@media (max-width: 478px) {
  #cart .dropdown-menu {
    width: 100%;
  }
}
#cart .dropdown-menu table {
  margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
  min-width: 427px;
  padding: 0 10px;
}
@media (max-width: 478px) {
  #cart .dropdown-menu li > div {
    min-width: 100%;
  }
}
#cart .dropdown-menu li p {
  margin: 20px 0;
}
/* menu */
#menu {
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#menu .nav > li > a {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  padding: 10px 15px 10px 15px;
  min-height: 15px;
  background-color: transparent;
  font-size: 15px;
}
#menu .nav > li > a:hover,
#menu .nav > li.open > a {
  color: #f0af13;
}
#menu .dropdown-menu {
  padding-bottom: 0;
}
#menu .dropdown-inner {
  display: table;
}
#menu .dropdown-inner ul {
  display: table-cell;
}
#menu .dropdown-inner a {
  min-width: 160px;
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: white;
  font-size: 12px;
}
#menu .dropdown-inner li a:hover {
  color: #ffffff;
}
#menu .see-all {
  display: block;
  margin-top: 0.5em;
  border-top: 1px solid #ddd;
  padding: 3px 20px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 3px 3px;
  font-size: 12px;
}
#menu .see-all:hover,
#menu .see-all:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #229ac8;
  background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
  background-repeat: repeat-x;
}
#menu #category {
  float: left;
  padding-left: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menu .btn-navbar {
  font-size: 15px;
  font-stretch: expanded;
  color: #fff;
  padding: 2px 18px;
  float: right;
  background: rgb(242, 185, 46);
  background: linear-gradient(
    180deg,
    rgba(242, 185, 46, 1) 10%,
    rgba(240, 175, 19, 1) 20%,
    rgba(240, 175, 19, 1) 80%,
    rgba(242, 185, 46, 1) 90%
  );
  background-repeat: repeat-x;
  border-color: #f0af13;
}
#menu .btn-navbar:hover,
#menu .btn-navbar:focus,
#menu .btn-navbar:active,
#menu .btn-navbar.disabled,
#menu .btn-navbar[disabled] {
  color: #ffffff;
  background: rgb(242, 185, 46);
  background: linear-gradient(
    180deg,
    rgba(242, 185, 46, 1) 10%,
    rgba(240, 175, 19, 1) 20%,
    rgba(240, 175, 19, 1) 80%,
    rgba(242, 185, 46, 1) 90%
  );
  background-repeat: repeat-x;
  border-color: #f0af13;
}
@media (min-width: 768px) {
  #menu .dropdown:hover .dropdown-menu {
    display: block;
    background-color: #333333;
  }
}
@media (max-width: 767px) {
  #menu {
    border-radius: 4px;
    display: block;
  }

  #menu .btn-navbar {
    position: absolute;
    right: 0;
    top: 5rem;
  }

  #menu div.dropdown-inner > ul.list-unstyled {
    display: block;
  }
  #menu div.dropdown-menu {
    margin-left: 0 !important;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }
  #menu .dropdown-inner {
    display: block;
  }
  #menu .dropdown-inner a {
    width: 100%;
    color: #fff;
  }
  #menu .dropdown-menu a:hover,
  #menu .dropdown-menu ul li a:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  #menu .see-all {
    margin-top: 0;
    border: none;
    border-radius: 0;
    color: #fff;
  }
}
/* content */
#content {
  min-height: 600px;
}
/* footer */
footer {
  margin-top: 30px;
  padding-top: 30px;
  background-color: #303030;
  border-top: 1px solid #ddd;
  color: #e2e2e2;
}
footer hr {
  border-top: none;
  border-bottom: 1px solid #666;
}
footer a {
  color: #ccc;
}
footer a:hover {
  color: #fff;
}
footer h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
}
/* alert */
.alert {
  padding: 8px 14px 8px 14px;
}
/* breadcrumb */
.breadcrumb {
  margin: 0 0 20px 0;
  padding: 8px 0;
  border: 1px solid #ddd;
  background: rgb(80, 80, 80);
  background: linear-gradient(
    180deg,
    rgba(80, 80, 80, 1) 10%,
    rgba(51, 51, 51, 1) 40%,
    rgba(51, 51, 51, 1) 60%,
    rgba(80, 80, 80, 1) 90%
  );
}
.breadcrumb i {
  font-size: 15px;
}
.breadcrumb > li {
  padding: 0 20px;
  position: relative;
  white-space: nowrap;
}

.breadcrumb > li a {
  color: white;
}

.breadcrumb > li + li:before {
  content: "";
  padding: 0;
}
.breadcrumb > li:after {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  right: -5px;
  width: 26px;
  height: 26px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.pagination {
  margin: 0;
}
/* buttons */
.buttons {
  margin: 1em 0;
}
.btn {
  padding: 7.5px 12px;
  font-size: 12px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn-xs {
  font-size: 9px;
}
.btn-sm {
  font-size: 10.2px;
}
.btn-lg {
  padding: 10px 16px;
  font-size: 15px;
}
.btn-group > .btn,
.btn-group > .dropdown-menu,
.btn-group > .popover {
  font-size: 12px;
}
.btn-group > .btn-xs {
  font-size: 9px;
}
.btn-group > .btn-sm {
  font-size: 10.2px;
}
.btn-group > .btn-lg {
  font-size: 15px;
}
.btn-default {
  color: #777;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #e7e7e7;
  background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
  background-repeat: repeat-x;
  border-color: #dddddd #dddddd #b3b3b3 #b7b7b7;
}
.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #229ac8;
  background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
  background-repeat: repeat-x;
  border-color: #1f90bb #1f90bb #145e7a;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #1f90bb;
  background-position: 0 -15px;
}
.btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #df5c39;
  background-image: linear-gradient(to bottom, #e06342, #dc512c);
  background-repeat: repeat-x;
  border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-image: none;
  background-color: #df5c39;
}
.btn-link {
  border-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  color: #23a1d1;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link[disabled] {
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  box-shadow: none;
}
.btn-inverse {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #363636;
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
}
.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  background-color: #222222;
  background-image: linear-gradient(to bottom, #333333, #111111);
}
/* list group */
.list-group a {
  border: 1px solid #dddddd;
  color: #888888;
  padding: 8px 12px;
}
.list-group a.active,
.list-group a.active:hover,
.list-group a:hover {
  color: #444444;
  background: #eeeeee;
  border: 1px solid #dddddd;
  text-shadow: 0 1px 0 #fff;
}
/* carousel */
.carousel-caption {
  color: #ffffff;
  text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
  content: "\f053";
  font-family: FontAwesome;
}
.carousel-control .icon-next:before {
  content: "\f054";
  font-family: FontAwesome;
}
/* product list */
.product-thumb {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  overflow: auto;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.product-thumb:hover {
  box-shadow: 0 0 20px rgb(0 0 0 / 30%);
}

.product-thumb .image {
  text-align: center;
}
.product-thumb .image a {
  display: block;
}
.product-thumb .image a:hover {
  opacity: 0.8;
}
.product-thumb .image img {
  margin-left: auto;
  margin-right: auto;
}
.product-grid .product-thumb .image {
  float: none;
}
@media (min-width: 767px) {
  .product-list .product-thumb .image {
    float: left;
    padding: 0 15px;
  }
}
.product-thumb h4 {
  font-weight: bold;
  text-align: center;
}

.product-thumb h4 a {
  color: #f0af13;
}

.product-thumb h4 a:hover {
  color: #e4951f;
}

.product-thumb .caption {
  padding: 0 20px;
  min-height: 180px;
}
.product-list .product-thumb .caption {
  margin-left: 230px;
}
@media (max-width: 1200px) {
  .product-grid .product-thumb .caption {
    min-height: 210px;
    padding: 0 10px;
  }
}
@media (max-width: 767px) {
  .product-list .product-thumb .caption {
    min-height: 0;
    margin-left: 0;
    padding: 0 10px;
  }
  .product-grid .product-thumb .caption {
    min-height: 0;
  }
}
.product-thumb .rating {
  padding-bottom: 10px;
}
.rating .fa-stack {
  font-size: 8px;
}
.rating .fa-star-o {
  color: #999;
  font-size: 15px;
}
.rating .fa-star {
  color: #fc0;
  font-size: 15px;
}
.rating .fa-star + .fa-star-o {
  color: #e69500;
}
h2.price {
  margin: 0;
}
.product-thumb .price {
  color: #444;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
}
.product-thumb .price-new {
  font-weight: 600;
}
.product-thumb .price-old {
  color: #999;
  text-decoration: line-through;
  margin-left: 10px;
}
.product-thumb .price-tax {
  color: #999;
  font-size: 12px;
  display: block;
}
.product-thumb .button-group {
  border-top: 1px solid #ddd;
  background-color: #eee;
  overflow: auto;
}
.product-list .product-thumb .button-group {
  border-left: 1px solid #ddd;
}
@media (max-width: 768px) {
  .product-list .product-thumb .button-group {
    border-left: none;
  }
}
.product-thumb .button-group button {
  width: 60%;
  border: none;
  display: inline-block;
  float: left;
  background-color: #eee;
  color: #888;
  line-height: 38px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.product-thumb .button-group button + button {
  width: 20%;
  border-left: 1px solid #ddd;
}
.product-thumb .button-group button:hover {
  color: #444;
  background-color: #ddd;
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .product-thumb .button-group button,
  .product-thumb .button-group button + button {
    width: 33.33%;
  }
}
@media (max-width: 767px) {
  .product-thumb .button-group button,
  .product-thumb .button-group button + button {
    width: 33.33%;
  }
}
.thumbnails {
  overflow: auto;
  clear: both;
  list-style: none;
  padding: 0;
  margin: 0;
}
.thumbnails > li {
  margin-left: 20px;
}
.thumbnails {
  margin-left: -20px;
}
.thumbnails > img {
  width: 100%;
}
.image-additional a {
  margin-bottom: 20px;
  padding: 5px;
  display: block;
  border: 1px solid #ddd;
}
.image-additional {
  max-width: 78px;
}
.thumbnails .image-additional {
  float: left;
  margin-left: 20px;
}

@media (min-width: 1200px) {
  #content .col-lg-2:nth-child(6n + 1),
  #content .col-lg-2:nth-child(6n + 1),
  #content .col-lg-3:nth-child(4n + 1),
  #content .col-lg-4:nth-child(3n + 1),
  #content .col-lg-6:nth-child(2n + 1) {
    clear: left;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #content .col-md-2:nth-child(6n + 1),
  #content .col-md-2:nth-child(6n + 1),
  #content .col-md-3:nth-child(4n + 1),
  #content .col-md-4:nth-child(3n + 1),
  #content .col-md-6:nth-child(2n + 1) {
    clear: left;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #content .col-sm-2:nth-child(6n + 1),
  #content .col-sm-2:nth-child(6n + 1),
  #content .col-sm-3:nth-child(4n + 1),
  #content .col-sm-4:nth-child(3n + 1),
  #content .col-sm-6:nth-child(2n + 1) {
    clear: left;
  }
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
  #column-left .product-layout .col-md-3 {
    width: 100%;
  }

  #column-left + #content .product-layout .col-md-3 {
    width: 50%;
  }

  #column-left + #content + #column-right .product-layout .col-md-3 {
    width: 100%;
  }

  #content + #column-right .product-layout .col-md-3 {
    width: 100%;
  }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout,
#column-right .product-layout {
  width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^="quantity"] {
  min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-image: none;
  background-color: #df5c39;
}

.open > .dropdown-menu {
  display: block;
  background-color: #333333;
}

.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover {
  background-color: #f0af13;
  border-color: #337ab7;
}

/*-------- Header ----------*/

.bg-dark-custom {
  background-color: #333333;
  color: white;
}

.bg-dark-custom .container .navbar-inverse {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  background-color: transparent;
  border-color: transparent;
}

.navbar img {
  margin: 1rem;
  width: 12rem;
}

.faixa-nav {
  content: "";
  display: block;
  width: 100%;
  height: 1.8rem;
  background: #f0af13;
  margin: 6px auto 8px auto;
}

.bg-yellow {
  background-color: #f0af13;
}

@media (max-width: 800px) {
  .navbar .nav-item .nav-link {
    padding-top: 1rem;
  }
}
/*==========================================*/

/*--------------- Contact -----------------*/

.content-contact {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.content-contact .title-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 4rem;
  margin-bottom: 1rem;
  font-family: openSansBold;
}
.content-contact .title-form .border-between {
  border: 1px solid black;
  width: 8rem;
}

.content-contact .contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.content-contact .contact .company-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.content-contact .contact .company-contact .image-logo {
  margin-bottom: 1rem;
}

.content-contact .contact .company-contact .image-logo img {
  width: 12rem;
}

.content-contact .contact .company-contact .address {
  font-family: openSansBold;
  text-align: center;
}
.content-contact .contact .company-contact .address p {
  cursor: pointer;
}

.content-contact .contact .company-contact .cell-number {
  text-align: center;
  font-family: openSansBold;
}

.content-contact .contact .content-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40rem;
  padding: 1rem;
}

.content-contact .contact .content-form .form-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 2px solid darkgray;
  border-radius: 1rem;
  padding: 1rem 0.5rem;
  margin-bottom: 2rem;
}

.content-contact .contact .content-form .form-contact .input-contact {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-bottom: 1rem;
}

.content-contact .contact .content-form .form-contact .input-contact label {
  margin-bottom: 0.2rem;
  font-family: openSansBold;
}

.content-contact .contact .content-form .form-contact .input-contact input {
  border-radius: 0.3rem;
  border: 1px solid darkgray;
  height: 2.5rem;
  padding-left: 0.5rem;
  font-size: 14px;
  font-family: openSansBold;
}

.content-contact
  .contact
  .content-form
  .form-contact
  .input-contact
  .message-input {
  resize: none;
  padding-left: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid darkgray;
  font-size: 14px;
  font-family: openSansBold;
}

.content-contact .contact .content-form .form-contact .button-send {
  margin-bottom: 1rem;
}

.content-contact .contact .content-form .form-contact .button-send .btn-send {
  border-radius: 0.6rem;
  background-color: #333333;
  color: white;
  width: 10rem;
  font-family: openSansBold;
}

/*=====================================================*/

/*----------- About us* ---------------/*/

.all {
  margin-top: -0.7rem;
}

.all .container {
  display: flex;
}

.all .container .about-banner img {
  margin-top: 5rem;
  border-radius: 4rem;
  width: 40rem;
  box-shadow: 0px 4px 6px black;
}

.all .container .about-text {
  padding-top: 5rem;
  padding-left: 3rem;
  padding-bottom: 4rem;
}
.all .container .about-text p {
  font-family: openSansLight;
  font-size: 18px;
  text-align: justify;
}

.all .container .about-text h3 {
  font-family: openSansBold;
  font-size: 30px;
}

/*RESPONSIVO -------------------------------------------------------------------------------*/
@media only screen and (min-width: 788px) and (max-width: 979px) {
}

@media only screen and (max-width: 787px) {
  .all {
    display: flex;
  }
  .all .container {
    flex-flow: wrap;
  }
  .all .container .about-banner img {
    width: 16rem;
  }

  .all .container .about-text {
    padding-top: 2rem;
    padding-left: 0;
  }
}

/*=============================================================*/

/*---------- Blog -----------*/

.title-blog {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.main-banner .owl-carousel .owl-wrapper-outer {
  overflow: hidden;
}

.main-banner .owl-carousel .owl-wrapper-outer .owl-wrapper {
  display: flex !important;
}

.main-banner .owl-carousel .item {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  filter: brightness(0.7);
}

.main-banner .owl-carousel .item .owl-text .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 1rem;
  right: 0;
  left: 0;
}

.main-banner .owl-carousel .item .owl-text .description .area-description {
  background-color: #3b4043a6;
  border-radius: 0.4rem;
  padding: 1rem;
  width: 55%;
}

.main-banner
  .owl-carousel
  .item
  .owl-text
  .description
  .area-description
  .title
  h2 {
  color: white;
  font-family: openSansBold;
  text-align: center;
}

.main-banner
  .owl-carousel
  .item
  .owl-text
  .description
  .area-description
  .content
  p {
  color: white;
  font-family: openSansLight;
  text-align: justify;
}

.last-news {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  margin: auto;
}

.last-news .title-news {
  display: flex;
  justify-content: center;
  font-family: openSansBold;
  margin-bottom: 1rem;
}

.last-news .input-group {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 90%;
  margin-bottom: 2rem;
}

.last-news .input-group .form-control {
  border: 1px solid #333333;
}

.last-news .input-group .input-group-append button {
  background-color: #333333;
  color: white;
  font-family: openSansBold;
}

.last-news .card-area {
  width: 90%;
  margin: auto;
}

.last-news .card-area .card-news {
  border: 2px solid #333333;
  border-radius: 0.4rem;
  padding: 0.5rem;
  flex-wrap: wrap;
  cursor: pointer;
  display: flex;
  margin-bottom: 1rem;
}

.last-news .card-area .card-news .image-news {
  padding-right: 0.5rem;
}

.last-news .card-area .card-news .image-news img {
  width: 10rem;
  height: 10rem;
  border-radius: 0.3rem;
}

.last-news .card-area .card-news .content-info {
  display: flex;
  flex-direction: column;
  width: calc(90% - 10rem);
  min-width: 70%;
}
.last-news .card-area .card-news .content-info .title-news {
  display: flex;
  justify-content: flex-start;
}

.last-news .card-area .card-news .content-info .news-short {
  text-align: justify;
}

.last-news .pagination-cards {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .main-banner
    .owl-carousel
    .item
    .owl-text
    .description
    .area-description
    .title
    h2 {
    font-size: 16px;
    text-align: center;
  }

  .main-banner
    .owl-carousel
    .item
    .owl-text
    .description
    .area-description
    .content
    p {
    font-size: 1em;
    line-height: 1em;
    max-height: 3em;
    overflow: hidden;
  }

  .content-blog .last-news {
    width: 95%;
    padding: 0.5rem;
  }

  .content-blog .card-area .card-news {
    flex-direction: column;
  }
  .content-blog .card-area .card-news .image-news {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
    padding-right: 0;
  }
  .content-blog .card-area .card-news .content-info {
    padding-left: 0;
    margin: auto;
  }
  .content-blog .card-area .card-news .content-info .title-news {
    justify-content: center;
  }
  .content-blog .card-area .card-news .content-info .title-news h2 {
    font-size: 18px;
    text-align: center;
  }

  .content-blog .card-area .card-news .content-info .news-short {
    font-size: 12px;
  }
}

/*====================================================*/

/*---------------- Artigo ---------------*/
.content-news .header-title {
  display: flex;
  justify-content: center;
}

.content-news .image-news {
  display: flex;
  justify-content: center;
}

.content-news .image-news img {
  width: 50%;
  border-radius: 0.4rem;
}

.content-news .content-info {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 80%;
  margin: auto;
}

.content-news .content-info .title-info {
  font-family: openSansBold;
}

.content-news .content-info .info {
  font-family: openSansLight;
  text-align: justify;
}

.content-news .button-back button {
  background-color: #333333;
  color: white;
  border-color: #333333;
}

/*=====================================================*/

/*----------- HOME* ---------------/*/
#content .owl-carousel .owl-controls .owl-pagination .owl-page.active span {
  background: #f0af13;
}

#content .owl-carousel .owl-controls .owl-pagination {
  top: -35px;
}

#content {
  display: contents;
}

/*#slideshow0 .owl-carousel {
  margin: 0;
}*/

.inner-content {
  margin-top: -1rem;
}

.inner-content .faixa-below {
  content: "";
  display: block;
  width: 100%;
  height: 1.8rem;
  background: #f0af13;
  margin: 6px auto 8px auto;
}

.shop-steps {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.shop-steps h3 {
  display: block;
  font-family: openSansBold;
  font-size: 20px;
}

.shop-steps p {
  display: block;
  margin-top: -0.8rem;
  font-family: openSansLight;
  font-size: 20px;
}

.shop-steps .step-lock img {
  width: 3.3rem;
  float: left;
  margin-right: 1rem;
}

.shop-steps .step-card img {
  width: 4.7rem;
  padding-top: 1.5rem;
  float: left;
  margin-right: 1rem;
}

.shop-steps .step-fast img {
  width: 8.9rem;
  float: left;
  padding-top: 0.2rem;
  margin-right: 0.8rem;
}

.about-us {
  padding-top: 4rem;
  padding-bottom: 4rem;
  border: 3px solid white;
  box-shadow: inset 0 1px 1px #000000, inset 0 -1px 1px black;
  display: flex;
}

.all .container:nth-child(1) {
  display: revert;
}

.about-us img {
  width: 30rem;
  float: left;
  padding-right: 4rem;
}

.about-us .about-text {
  padding-top: 3rem;
  text-align: justify;
}

.about-us .about-text h3 {
  font-family: openSansBold;
  font-size: 30px;
  display: flex;
}

.about-us .about-text p {
  font-family: openSansBold;
  font-size: 30px;
  display: flex;
}

.btn-about {
  display: flex;
  justify-content: center;
}

.btn-about button {
  font-family: openSansBold;
  background-color: white;
  border-radius: 5px;
  padding: 4px 30px 4px 30px;
}

.btn-about button:hover {
  color: #f0af13;
  border: 2px solid #f0af13;
}

.promocao {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.promocao h3 {
  text-align: center;
  font-family: openSansBold;
  font-size: 30px;
}

.promocao .promocao-risco {
  content: "";
  display: block;
  width: 50%;
  height: 0.1rem;
  background: black;
  margin: 6px auto 8px auto;
}

.promocao .container {
  display: flex;
  justify-content: center;
}

.card {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border: none;
  padding-top: 2rem;
  border-radius: 0.5rem;
}

.card-deck {
  display: flex;
  justify-content: center;
}

.card-deck img {
  width: 25rem;
}

.card-body .btn-comprar {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}

.card-body button {
  color: white;
  font-size: 18px;
  background-color: #3f69ff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.card-body img {
  width: 2rem;
}

.card-body h3 {
  font-family: openSansBold;
  font-size: 30px;
}

.card-body .card-text {
  font-family: openSansLight;
}

.card-body .card-text h4 {
  font-size: 25px;
  color: #e52a07;
}

.card-body .card-text h5 {
  font-size: 15px;
}

.card-body .card-text h6 {
  font-size: 28px;
}
/*=====================================================*/

/*----------- FOOTER* ---------------/*/

.recaptcha_el iframe {
  display: flex;
  border-radius: 5px;
  transform: scale(0.7);
  transform-origin: left top;
  padding-top: 0.5rem;
}

.recaptcha_el {
  width: 209px;
  height: 60px;
}

.content-footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 1.5rem;
}

.links-footer {
  display: flex;
  flex-direction: column;
  color: white;
  font-family: openSansLight;
  cursor: pointer;
  margin-bottom: 1rem;
}

.links-footer span:hover {
  color: #f0af13;
}

.address {
  display: flex;
  flex-direction: column;
  width: 16rem;
}

.address .location {
  display: flex;
  align-items: center;
}

.address .info {
  color: white;
}

.address .info p {
  cursor: pointer;
  margin-bottom: 0;
  font-family: openSansLight;
}

.address .info p:hover {
  color: #f0af13;
}

.address .image-marker {
  padding-right: 0.5rem;
}

.address .image-marker img {
  width: 1.8rem;
}

.address .phone {
  display: flex;
  align-items: center;
}

.address .phone .cell-number {
  color: white;
}

.address .phone .cell-number p {
  margin-bottom: 0;
  font-family: openSansLight;
}

.address .phone .image-phone {
  padding-right: 0.5rem;
}

.address .phone .image-phone img {
  width: 1.8rem;
}

.card-payment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-payment .elo-area {
  margin-right: 0.3rem;
}

.card-payment .elo-area img {
  width: 2rem;
  cursor: pointer;
}

.card-payment .master-card-area {
  margin-right: 0.3rem;
}

.card-payment .master-card-area img {
  width: 3rem;
  cursor: pointer;
}

.card-payment .visa-area img {
  width: 3rem;
  cursor: pointer;
}

.card-payment .background-mercado {
  background-color: white;
  border-radius: 0.3rem;
  padding: 0.2rem;
}

.card-payment .mercado-area {
}

.card-payment .mercado-area img {
  width: 5rem;
  cursor: pointer;
}

.card-payment .boleto-area img {
  width: 3rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.card-payment .first-content {
  display: flex;
}

.card-payment .second-content {
  display: flex;
}

.newsletter {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.newsletter .title-news {
  display: flex;
  justify-content: center;
}

.newsletter .title-news h3 {
  font-family: openSansLight;
  color: #f0af13;
  font-size: 14px;
}

.email-news {
  display: flex;
}

.email-news input {
  border-radius: 0.3rem;
  height: 2rem;
  font-family: openSansLight;
  font-size: 12px;
  padding-left: 0.5rem;
}

.email-news .button-send {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}

.email-news .button-send {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}

.email-news .button-send .btn-primary {
  padding: 0.1rem 0.3rem;
  font-size: 14px;
  border-radius: 0.5rem;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social .social-icons {
  padding-right: 1rem;
}

.social .social-icons img {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.footer-make {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  font-family: openSansLight;
  background-color: #f0af13;
  text-align: center;
}

.footer-make span {
  color: #ffff;
  font-size: 12px;
}

.footer-make .image-footer {
  width: 2.5rem;
  cursor: pointer;
}

/*======================================================*/

/*-------------- Category Card ------------*/

.button-buying {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.button-buying .btn-buying {
  border-radius: .7rem;
  background-color: #333333;
  color: white;
  font-size: 14px;
  font-family: openSansBold;
  outline: none;
}

.button-buying .btn-buying:hover {
  color: #f0af13;
}


